:root{
    --primary-color: #12084e;
    --secondary-color: #1a0e5f;
    --hover-color: #31ffff;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, blue, #e724c6, rgb(51, 102, 219), #d136e6, blue, #e724c6, rgb(86, 43, 228));
    background-attachment: fixed;
    padding: 50px;
}
.container{
    position: relative;
    width: calc(100% - 100px);
    min-height: calc(100vh - 280px);
    min-height: 300px;
    background: rgba(255, 255, 255, 0.19);
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.59);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
header{
    position: absolute;
    top:  -40px;
    right: 20px;
    left: 20px;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.10);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.22);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}
header .logo{
    font-family: 'IBM Plex Serif';
    color: var(--primary-color);
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    transition: .5s;
}
span{
    color: var(--hover-color);
}
header .logo:hover{
    color: var(--hover-color);
    transition: .5s;
}
header ul{
    display: flex;
}
header ul li{
    list-style: none;
    margin: 0 10px;
    font-family: 'Lora' ;
}
header ul li a{
    text-decoration: none;
    font-weight: 500;
    color: var(--secondary-color);
    padding: 8px 15px;
    border-radius: 25px;
    transition: .4s ease;
    font-weight: 700;
}
header ul li a:hover,
header ul li a.active{
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.10);
    transition: .4s ease;
}
.content{
    transform: translateX(-100px);
    max-width: 700px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.22);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 25px;
    padding-left: 110px;
}
.content h2{
    font-size: 2.5em;
    color: var(--primary-color);
}
.content p{
    font-size: 1em;
    color: var(--secondary-color);
}
.content a{
    display: inline-block;
    padding: 15px 30px;
    background: #fff;
    color: var(--primary-color);
    font-weight: 900;
    margin: 20px 0;
    border-radius: 30px;
    font-size: 0.8em;
    text-decoration: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.50);
    transition: .5s;
}
.content a:hover{
    background: var(--hover-color);
    transition: .5s;
    color: var(--primary-color);
}
.imgBx img{
    position: relative;
    display: flex;
    max-width: 400px;
    margin-top: -50px;
    animation: animate 5s linear infinite;
    padding: 40px;
    transition: .5s ease-in-out;
}
.imgBx:hover{
    transform: scale(1.09);
    cursor: pointer;
    transition: .5s;
}
@keyframes animate{
    0%, 100%{
        transform: translateY(50px);
    }
    50%{
        transform: translateY(100px);
    }
}
.sic{
    position: absolute;
    right: -25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sic a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    margin: 5px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.sic a i{
    transform: scale(0.9);
    transition: 0.5s;
}
.sic a:hover i{
    transform: scale(0.6) rotate(360deg);
}
 